services:
  JRT:
    image: jrt-webserver-http-php-8.5.1
    container_name: JRT-webserver
    volumes:
      - /docker/JRT-webserver/apache2/000-default.conf:/etc/apache2/sites-available/000-default.conf
      - /docker/JRT-webserver/apache2/apache2.conf:/etc/apache2/apache2.conf
      - /docker/JRT-webserver/apache2/remoteip.conf:/etc/apache2/conf-available/remoteip.conf
      - /docker/JRT-webserver/logs:/var/log/apache2
    ports:
      - 8080:80
    hostname: jrt-webserver
    working_dir: /var/www/html
    restart: no
    healthcheck:
      test: ["CMD", "service", "apache2", "status"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
